.container {
  display: flex;
  gap: 24px;
  padding: 24px;
  min-height: calc(100vh - 100px);
}

.sidebar {
  width: 220px;
  background: white;
  border-radius: 16px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
  color: #333;

  padding: 10px;
  border-radius: 10px;
}

.link:hover {
  background: #fff1df;
}

.content {
  flex: 1;
}
.statsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  margin-bottom: 24px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;

  text-align: center;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 28px;
  font-weight: bold;
  color: #dd8306;
}
.dashboardGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.chartCard {
  background: white;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.chartCard h2 {
  margin-bottom: 20px;
}

.sideCards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topCard {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.topCard h2 {
  margin-bottom: 16px;
  font-size: 18px;
}

.topCard ol {
  margin: 0;
  padding-left: 20px;
}

.topCard li {
  margin-bottom: 12px;
}

.topCard a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  color: #333;
}

.topCard a:hover {
  color: #dd8306;
}

.topCard strong {
  color: #dd8306;
}
